[submodule "bridge"]
	path = bridge
	url = https://github.com/toppers/hakoniwa-bridge.git
[submodule "third-party/ydlidar_ros2_driver"]
	path = third-party/ydlidar_ros2_driver
	url = https://github.com/YDLIDAR/ydlidar_ros2_driver.git
[submodule "third-party/YDLIDAR/YDLidar-SDK"]
	path = third-party/YDLIDAR/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git
[submodule "third-party/Hokuyo-aut/urg_node2"]
	path = third-party/Hokuyo-aut/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2.git
